body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #775151;
    margin: 0;
}

.container {
    text-align: center;
}

img {
    width: 200px;
    height: auto;
    cursor: pointer;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 24px;
}

.hidden {
    display: none;
}

#upgradeMenu {
    margin-top: 20px;
}

#upgradeMenu button {
    display: block;
    margin: 10px auto;
}

.critical {
    position: absolute;
    color: red;
    font-size: 24px;
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}